
.top-container{
 padding-top: 110px;
  background-color: #effffb;
}
.middle-container{
  margin: 50px 0;
}
.bottom-container{

background-color:#50d890;
height: 150px;


}

body{
  color: #40514E;
  text-align: center;
  overflow: auto;
  margin: 0;

}

h1{

  font-size: 5.2rem;
  font-family: 'Sacramento', cursive;
  margin-bottom: 0;
  color: #50d890;

}
h2{
  font-size: 3rem;
  font-family: 'Montserrat', sans-serif;
  color: #4f98ca;
}
h3{
font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  color:#4f98ca;
}

h4{
font-size: 1.5rem;
color:#272727;
margin-bottom: 0;
}


.top-cloud{

  padding-top: 100px;
  position : absolute;
  right : 10%;

  width: 15%;
}
.bottom-cloud{
  position : absolute;
  left : 10%;
  width: 15%;
}
p{
  font-size: 20px;
    line-height: 2;
}


.mountain{

height: 40%;
width: 40%;

}

.bio{
  width: 35%;
  margin: auto;
}

.sub{
  margin-top: 1rem;

  font-weight: normal;
}



.skill-row{

  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;

}
.website{
  width: 35%;
  float: left;
  margin-right: 40px;
}
.world{
  width: 35%;
  float: right;
  margin-left: 40px;
}

.social{
  position: relative;
  top: 15px;

}
.btn {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.btn {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
}

.btn:hover {
  background-color: #4CAF50;
  color: white;
}

.copyright{
color: white;

font-size: 1rem;
margin-top: 50px;

}
